
.prbox {
    border: 3px solid purple;
    display: block;
}
.box {
    padding: 2em;
    border: 6px solid salmon;
    margin-top: 1em;
    color: crimson;
}
.cream {
    border: 5px solid #FAEBD7;
    padding: 1em;
    color: blueviolet;
    margin: 1em;
}
li {
    border: red;
    padding: 1em;
    margin: 1em;
}
.inline li {
    display: inline;
    border: 3px dashed green;
    color: yellowgreen;
}
.inlineblock li {
    display: inline-block;
    border: 3px dashed magenta;
}
.box-3 {
    width: 33.33%;
    border: 1px solid;
    padding: 1em;
}
.box-2 {
    width: 50%;
    border: 1px solid;
    padding: 1em;
}
.row div{
    float: left;
}
h4 {
    text-align: center;
}
div {
    display: block;
}
.boxmynd {
    width:100px;
    height:150px;
    border-radius: 15%;
    float:left;
    padding-right:10px;
}   
.dashbox{
    border: 3px dashed blueviolet;
    padding:10px;
}
.bigboi{
    float:left;
    font-size: 50px;
}
.flexcolumn{
    display:flex;

}
* {
    box-sizing: border-box;
}
body {
	max-width: 60em;
 	margin: 0 auto;
}

footer p {
  text-align: center;
}

.gulur {
	background-color: yellow; 
}
.raudur {
	background-color: red; 
}
.graenn {
	background-color: lime;
}
.blar {
	background-color: rgb(68, 0, 255); 
}
.box2 {
	font-size: 1.2em;
	height: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* FLEXBOX */

.row {
	display: flex;
	flex-flow: row-reverse;
}
.row div {
	/*flex-flow: 1;
	flex-shrink: 1;
	flex-basis: 1em;*/

	flex: 1 1 1em;
	margin: 0 0 1em 0;
}
.col {
	display: flex;
	flex-flow: column-reverse;
	margin: 0 0 1em 0;
}

